aio_pika
sqlalchemy
aiomysql
python-dotenv
trafilatura
google-cloud-aiplatform
python-json-logger
prometheus-client
fastapi
uvicorn[standard]
requests # trafilatura dependency
beautifulsoup4 # trafilatura dependency